# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

#Json web token
JWT_SECRET=

#Mqtt
MQTT_BROKER_URL=
MQTT_USERNAME=
MQTT_PASSWORD=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL=
REDIS_CACHE_TTL_SECONDS=

#Machine Learning
ML_SERVICE_URL=


#Grok
GROK_API_KEY=
GROK_API_BASE_URL=
GROQ_MODEL=